body{
    background-color: whitesmoke !important;
}

.btn-group button{
}
.productGrid{
    gap:15px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}
.subpage.scrolldown{
    overflow: hidden;
    height: 0px !important; 
}
.subpage{
    height: 75px !important; 
    transition: 0.25s !important;
}

.filterBar{
    top: 0px;
    border-bottom: #07070718 solid 1px;
    border-top: #07070718 solid 1px;
    gap: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 10;
    height: 65px; 
    width: 100%;
     background-color: whitesmoke; 
     position: sticky !important;
     line-height: normal !important;
     transition: .25s; 
}

.filterBar.scrollup{
    top: 75px;
}
.dropdown-item{
    --bs-dropdown-link-active-bg:rgb(156, 156, 156);
width: auto !important;
}

.dropdown-menu li{
    font-size: 1.1rem;
    color: red !important;
}
.bigman{
    padding-left:200px;
    padding-right: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.productGrid div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    background-color: whitesmoke;
    border-radius: 7px;
    overflow: hidden;
}

.address {
    padding: 0;
    font-size: 0.8rem !important;
    display: flex;
    color: #1c1c1c;
    list-style: none;
    margin-top: 120px;
    align-items: center;
    
}
.address li{
    font-size: 1.3rem;
}
.gap{
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 999px;
    height: 0.3rem;
    width: 0.3rem;
    background-color: grey;
}
.info.fadeout{
    opacity: 0;
}
.info{
    transition: opacity 0.15s;
    order: 2;
font-size: 1.2rem;
display: flex;
flex-direction: column; 
/* here */
justify-content: center !important ;
align-items: start !important;
text-align: center !important;
    border-radius: 10px !important;
    background-color: whitesmoke !important;
    width: 100% !important;
    height: 80px !important;
    border-radius: 0 !important;
}
#photos{
    gap: 10px;
    flex-direction: row;
width: 100% !important;
background-color: whitesmoke !important;
justify-content: start !important;
align-items: center !important;
}
.info.thumbnail{
flex-direction: row !important;
gap: 8px;
align-items: center !important;
justify-content: start !important;
}
.info div{
    width: 45px !important;
height: 45px !important;
    border-radius: 0;
    background-color: rgb(253, 191, 99);  
}
.info > div:first-of-type{
    
margin-left: 2px;
}
.info p{
    margin: 0;
    margin-left: 15px;
    padding: 0;
    color: #1c1c1c ;

}
#info_sub{
    color: rgb(124, 124, 124) !important;
}
.info_price{
    color: #1c1c1c ;
    align-items: center !important;
    display: flex;
    justify-content: center !important;
    font-size: 1.1rem;
    position: absolute;
    margin-bottom: 66px;
    order: 1;
    align-self: start;
    margin-left: 10px;
    height: 25px !important;
    width: 70px !important;
    background-color: whitesmoke !important;
    border-radius: 10px 10px 0px 0px !important;
    transition: .4s;
}
#last{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #414141;
    font-size: 1.2rem;
    background-color: transparent;
}
.product_item{
    position: relative;
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    height: 450px;
    width: 300px;
    background-color: whitesmoke;
    border-radius: 5px;
    overflow: hidden;
}
.product_item:hover  .info_price{
    margin-bottom: 75px;
    border-radius: 10px 10px 10px 10px !important;
 
}
.product_img{
    background: url(./assets/jacket.webp);
    background-size: cover;
    background-position: center;
    order: 0;
    background-color: rgb(255, 255, 255) !important;
    border-radius:0px !important;
    height:100%;
    width: 100%;
}
/* new pageeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee */

#thumbnails{
    height: 600px  !important;
    width: 100px;
    display: flex;
    gap: 10px;
    flex-direction: column;
align-items: center;
overflow: hidden;
overflow-y: scroll;
flex: none;
}
#thumbnails div{
    width: 65px ;
    height: 65px;
    background-color: rgb(255, 94, 83);
    border-radius: 5px;
    flex: none;
}
.Midman{
    flex: none; 
    height:860px;
    margin-top: 75px; 
    display: flex;
     flex-direction: column;
     justify-content: space-between;
}
#colorSelect{
    display: grid; width: min-content;
}
.infoCont{
    width: 400px;
     min-height: 860px;
      background-color: rgb(255, 255, 255);
       margin-top: 75px ;
        margin-left: 75px; 
        flex: none;
          display: flex;  
         flex-direction: column;
           align-items: center;
            border-radius: 10px; 
            justify-content: space-between;
}
#image{
    height: 600px;
     width: 500px; 
    flex: none;
    background-color: rgb(224, 224, 224);
      background-image: url(./assets/jacket.webp);
       background-size: cover; 
       background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}
#colorSelect{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}
#colorSelect div{
    border-radius: 4px;
    
    width: 80px;
    height: 80px;
    background-color: rgb(174, 196, 255);
}
#sizeSelect {
   gap: 5px;
   grid-template-columns: 1fr 1fr 1fr;
}
#sizeSelect div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: #1c1c1c;
    width: 100px;
    height: 50px;
    border-radius: 4px;
    border: solid #aaaaaa 1px;
}
.marginleft{
    /* margin-left: 200px; */
    margin-left:10%;
}
#buttonsCont{
    margin: 10px ;
    margin-top: 30px ;
    margin-bottom: 30px ;
width: 315px;
height: 50px;
display: flex;
justify-content: space-between;
}
#cart_button{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.4rem;
width: 255px;
border-radius: 5px;
background-color: rgb(43, 43, 43);
}
#heart{
    background-image: url(./assets/heart\ b.png);
background-size: cover;
background-position: center;
background-size: 50%;
background-repeat: no-repeat;
border-radius: 5px;
    border: solid rgb(110, 110, 110) 1px;
    
width: 50px;
}
.stuff{
   justify-content: space-between;
    border-bottom: solid 1px #dfdfdf;
    width: 600px;
     height: 75px; 
    background-color: whitesmoke; 
    color: #1c1c1c;
     display: flex;
     font-size: 1.8rem;
     align-items: center;
}
.stuff p{
    margin-left: 12px;
}
.buttonrev{
    margin-right: 10px !important; 
    box-shadow: none !important; 
    background-color: rgb(43, 43, 43) !important;
     color: whitesmoke; min-width: 110px !important;
      height: 40px !important;
}
.stuffs{
    display: block ;
    margin-top: 0px;

}


a{
    text-decoration: none;
}
@media (max-width: 480px) { 
    .filterSheet .accordion #flush-collapseTwo  #sizeSelect div{
        width: 20vw !important;
        text-overflow: ellipsis;
        max-lines: 1;
        overflow:hidden;
        height: 45px;
    }
     #filter_apply_button{
        width: 80vw !important;
     }
    .accordion{
        width: 80vw !important;
    }
    .filterSheet.open{
        height: 100vh ;
        width: 85vw !important;
        max-width: 480px;
    }
    .bigDevices-filter{
        display: none;
    }
    .filterBar{
        justify-content: space-between;
        width: 100% !important;
    }
    .productGrid{
        gap: 7px ;
        grid-template-columns: 1fr 1fr;
        margin-top: 10px;
    }

.product_item{
    width: 47vw;
    height: 50vh;
}
.bigman{
    padding-left: 0px ;
    padding-right: 0px ;
}
.address{
    margin-top:90px !important;
}
}

@media (min-width:481px) and (max-width: 1200px) {

    .dropdown-menu{
       z-index: 100 !important;
       max-height: 200px !important;
    }
    .filterBar{
        width: 100% !important;
    }
    .productGrid{
        gap: 7px ;
        grid-auto-columns: auto;
        grid-template-columns:1fr 1fr;
        margin-top: 10px;
    }

.product_item{
    width: 48vw;
    height: 48vh;
}

.address{
    margin-top:90px !important;
}
}

@media (min-width:600px) and (max-width: 1200px) {

    .address{
        margin-top:110px !important;
    }
    .productGrid{
        gap: 7px ;
        grid-auto-columns: auto;
        grid-template-columns:1fr 1fr 1fr;
        margin-top: 10px;
    }
    .product_item{
        width: 30vw;
        height: 48vh;
    }
    .bigDevices-filter{
        display: flex;
        gap: 5px;
        width: 100%;
    }
}


@media (min-width:481px) and (max-width: 900px) {
 
    
    .bigDevices-filter{
        display: none;
    }
    .filterBar{
        width: 100% !important;
    }
    .filterBar{
        justify-content:space-between;
    }
}


@media (min-width:900px){
    .bigDevices-filter{
        display: flex;
        gap: 5px;
        width: 100%;
    }
    .filter-button{
        display: none;
    }

}
.sort{
    margin-right: 4vw;
}
.filter-button{
  margin-left: 4vw;
}

.filterSheet{
    overflow: hidden;
     height: 100vh;
      position: fixed;
      bottom: 0;
       left: 0;
        z-index: 12;
         width: 0vw;
          background-color: rgb(255, 255, 255);
           border-radius: 0px 10px 10px 0px;
            display: none !important;
            height: 100vh ;
            /* comeback */
            transition: 0.4s;
        }
        .filterSheet.begin{
            display: flex !important;
        }
  .filterSheet.open{
            height: 100vh ;
            width: 50vw ;
            max-width: 480px;
        }
    .filterSheetShadow{
        display: none;
        height: 100vh !important;
        opacity: 0;
        transition: 0.4s;
            }
        
            .filterSheetShadow.open{
                opacity: 100 !important;
            }
            .filterSheetShadow.begin{
                display: block !important;
            }
            .filterSheet  .accordion{
width: 46vw;
margin-bottom: 10px;
    --bs-accordion-bg:white !important;
    --bs-accordion-btn-bg:white !important;
    --bs-accordion-color: #696969 !important; 
    --bs-accordion-border-color:rgba(255, 255, 255, 0.295) !important;
    --bs-accordion-active-color:rgb(255, 255, 255)tant; 
    --bs-accordion-active-bg:white !important;
    --bs-accordion-btn-bg: white !important;
    --bs-accordion-btn-focus-box-shadow: none !important;
    --bs-accordion-active-bg: white !important;
    --bs-accordion-icon-color:  white !important;
--bs-accordion-button-focus-border-color: solid rgb(80, 80, 80) 2px !important;
--bs-accordion-btn-padding-x:0px !important;

            }
            .product_pagecolor div{
                border: 1px solid rgba(2, 2, 2, 0.329);
                border-radius: 999px !important;
                height: 45px !important;
                width: 45px !important;
            } 
            .filterSheet .accordion .accordion-button{
                font-size:1.4rem !important;
            }
            .product_pagecolor {
                gap: 10px !important;
          
                width: 50vw !;
            }
            .filterSheet .accordion #flush-collapseTwo  #sizeSelect div{
width: 10vw;
text-overflow: ellipsis;
max-lines: 1;
overflow:hidden;
height: 45px;
            }
            .dropdown-menu #sizeSelect div{
                width: 10vw !important;
                text-overflow: ellipsis;
                max-lines: 1;
                overflow:hidden;
                height: 45px ;
            }
            .product_pagecolor  div:nth-of-type(1){
                background-color: rgb(31, 31, 31) !important;
            }
            .product_pagecolor  div:nth-of-type(2){
                background-color: rgb(107, 107, 107) !important;
            }
            .product_pagecolor div:nth-of-type(3){
                background-color: rgb(22, 61, 231) !important;
            }
            .product_pagecolor  div:nth-of-type(4){
                background-color: rgb(35, 160, 41) !important;
            }
            .product_pagecolor div:nth-of-type(5){
                background-color: rgb(255, 211, 17) !important;
            }
            .product_pagecolor  div:nth-of-type(6){
                background-color: rgb(230, 28, 28) !important;
            }
            .product_pagecolor  div:nth-of-type(7){
                background-color: rgb(248, 248, 248) !important;
            }
            .product_pagecolor  div:nth-of-type(8){
                background-color: rgb(255, 173, 198) !important;
            }
            .product_pagecolor div:nth-of-type(9){
                background-color: rgb(203, 171, 255) !important;
            }
            #filter_apply_button{

                position: absolute;
             
            color: whitesmoke;
                border-radius: 0;
                box-shadow: none;
                background-color: #1c1c1c;
                height:50px;
                width: 46vw;
               
            }
     .dropdown-menu{
      border-radius: 7px;
      padding: 10px;
      box-shadow: #00000052 10px 10px 20px;
     }