*{
    box-sizing: inherit !important;
    line-height: normal;
}
html { font-size: 0.8rem }
:root {
    --color:   whitesmoke !important;
     /* #1c1c1c; */
    /* --white: whitesmoke; */
  }
 
body{
    scroll-behavior:smooth;
    background-color: #E6E6E6 !important;
     color: var(--color) !important ;
}
body.overlay{
    overflow: hidden;
}
*{
    font-family: ubuntu;
}
.width_logo{
    margin-left: 60px;
    width: 420px;
}
.padding_body{
margin: 20px;
}

.bigboy{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background:linear-gradient( rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.26) ), url(./assets/bg5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px 30px 30px 30px;
    background-color: lightblue;
    justify-content: center;
    height: 92vh;
    width: 100%;
}
.logo{
    background: url("./assets/tujargo w.png") ;
background-repeat: no-repeat;
    background-size:100%;
    background-position: center;
    width: 70px;
    height: 75px;
}
#header{
    backdrop-filter:blur( 0px);
    transition: 0.6s;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    z-index: 6;
    position: fixed;
    justify-content: space-between;
    height: 75px;
    align-items: center;
    display: flex;
    top: 30px;
}
#catM{
    opacity: 0;
    display: block;
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    top:75px;
    gap: 20px;
    position: fixed;
    width:100% ;
    height: 0vh;
    background-color: #161617;
    z-index: 5;
    transition:.5s;
}
#catM.expand{
    height: 60vh;
    opacity: 1;
}
#catM.expands{
        z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    opacity:1;
        overflow: scroll;
   position: fixed;
    background-color: #1c1c1c;
   width: 100%;
   transition:opacity .3s;
    height: auto;
}
#catm.open{
    display: block;
    opacity: 1;
    height: auto;
    overflow: scroll;
    transition:opacity .3s;
    
}
#catM.close{
    display: block;
    opacity: 0;
    height: 0;
    overflow: scroll;
    
}

.cats{
    gap:15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
   width: 95%;
   height:55vh;
}
.z{
  z-index: 1;  
}
#glass{
    z-index: 4;
    height:300vh;
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 120px;
    backdrop-filter: blur(10px);
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
.span2{
    height: auto !important;
    grid-row: span 2;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-track-piece{
    background: transparent;
  }
  ::-webkit-scrollbar-corner{
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
  }
.cats div{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 20px;
    font-weight: 600;
    background-color: lightblue;
    background-size:cover;
background-position: center center; 
}

/*  */

#suit{
background-image:linear-gradient( rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.26) ), url(./assets/suit.webp);
}
#hood{
    background-image:linear-gradient( rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.26) ), url(./assets/hood.jpg);
    
}
#access{
    background-image:linear-gradient( rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.26) ), url(./assets/access.webp);
}
#shoe{
    background-image:linear-gradient( rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.26) ), url(./assets/shoe.webp);
}
#sport{
    background-image:linear-gradient( rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.26) ), url(./assets/sport.jpg);
}
#levis{
    background-image:linear-gradient( rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.26) ), url(./assets/levis.webp);
}
#pant{
    background-image:linear-gradient( rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.26) ), url(./assets/pant.webp);
}
#jacket{
    background-image:linear-gradient( rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.26) ), url(./assets/jacket.jpg);
}
#shirt{
    background-image:linear-gradient( rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.26) ), url(./assets/shirt.jpg);
}


/*  */

#header.scrolls{
    top: 0;
    margin-top: 0px;
    backdrop-filter:blur( 20px);
    background-color: rgba(22, 22, 23, 0.644)
}
#slider.scrolls{
    top: 58px;
    margin-top: 0px;
}
#scrollable_container.scrolls{
    background-color: #1c1c1c !important;
}

#header.edge{
    background-color: red;
}
.menuItems{
    font-size: 1.2rem;
    display: flex;
    gap: 30px;
}

::placeholder{
    color:  var(--color);
}

.txtfield{
    height: 35px;
    width: 240px;
    margin-right: 10px;
padding-left: 1.9rem;
outline: solid 1px  var(--color);
font-size: 1rem;
background: url("./Assets/search w.png") no-repeat left ;
background-position: 0.6rem;
background-size: 0.8rem;
background-color: transparent;
border: 0;
color: whitesmoke;
border-radius: 80px;
}
.circles_and_search{ 
    height: 75px;
    justify-content: center;
    align-items: center;
    /* come back */
    width: 420px;
    margin-right: 60px;
    display: flex;   
    gap: 10px;
}
.circles{
    display: flex;
    gap: 15px;
}
.circle{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: white;
}
.textContainer{
    padding-left: 50px;
width: 55%;
display: flex;
flex-direction: column;
gap: 20px;
}
.textMain{
font-size: 3rem;
font-weight: bold;
}
.textSub{
    font-size: 1.5rem;
}
#prof{
    background-image: url("./assets/prof b.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    
}
#cart{
    background-image: url("./assets/cart b.png");
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
    
}
#more{
    background-image: url("./assets/menu.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.button{
    box-shadow: rgba(0, 0, 0, 0.507) 0px 5px 15px -2px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    min-width: 150px ;
    height: 45px;
    border-radius: 150px;
    background-color: var(--color);
    color: #1c1c1c;
    font-weight: 600;
    align-items: center;
}
#buttonMain{
    min-width: 20px ;
max-width: 220px;
height: 45px;
}
.bigText{
    width: 100%;
    color: black;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
    font-weight: 600;
    font-size: 2.5rem;
}
.topcat-container{
    height: 75vh;
    display: grid;
gap: 20px;
grid-template-columns: 2fr 1fr 1fr;
grid-template-rows: 1fr 1fr;

}
.product{
    padding: 20px;
    display: flex;
    justify-content: left;
    align-items: end;
    border-radius:30px;
}
#productbig{
    background: url(assets/jacket.webp);
    background-size:cover;
    background-position: center center; 
    grid-row: span 2;
}

#p2{
    background: url(assets/shoes_product.webp);
    background-size:cover;
    background-position: center center;       
    background-repeat:no-repeat;
    display: flex;
    justify-content: space-between;
}
#p3{
    background: url(assets/pants.avif);
    background-size:cover;
    background-position: center center;       
    background-repeat:no-repeat;
    display: flex;
    justify-content: space-between;
}
#p4{
    background: url(assets/hoodie.webp);
    background-size:cover;
    background-position: center center;       
    background-repeat:no-repeat;
    display: flex;
    justify-content: space-between;
}
#p5{
    background-image:url(assets/hat.webp);
    background-size:cover;
    background-position: center center;       
    background-repeat:no-repeat;
}
.mostpop-container{
    display: flex;
    width: 100%;
    overflow-x: scroll;
    gap: 20px;
}
.mostpopItem{
width:2000px;
height: 50vh;
}
.view_all{
font-size: 1.3rem;
display: flex;
justify-content: center;
min-width: 200px;
max-width: 150px;
outline: solid 2px;
height: 45px;
border-radius: 150px;
background-color: transparent;
color: #1c1c1c;
font-weight: 600;
align-items: center;
}
.view_all_cont{
    margin-top: 30px ;
    width: 100%;
    display: flex;
    justify-content: center;
}
.aboutus-container{
height: 75vh;
display: grid;
gap: 20px;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr;

}
.product_ourstory{
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden ;
    justify-content: center;
    align-items: center;
    border-radius:30px;
    grid-row: span 2;
    font-size: 2.5rem;
    text-align: center;
}
.story{
    font-size: 1.8rem;
    padding-top: 10px;
}

#p2_aboutus{
    background:linear-gradient( rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.26) ), url(assets/customer.avif) ;
    background-size:cover;
    background-position: center center;       
    background-repeat:no-repeat;
    grid-row: span 3;
}

#p3_aboutus{
    align-items: normal;
    text-align: left !important;
    background:linear-gradient( rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.712) ), url(assets/story.webp);
    background-size:cover;
    background-position: center center;       
    background-repeat:no-repeat;
    grid-row: span 5;
}
#p4_aboutus{
    background:linear-gradient( rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.26) ), url(assets/quality.jpg);
    background-size:cover;
    background-position: center center;       
    background-repeat:no-repeat;
    grid-row: span 4;
}
#p5about{
    background-image:linear-gradient( rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.26) ), url(assets/store.webp);
    background-size:cover;
    background-position: center center;       
    background-repeat:no-repeat;
    grid-row: span 4;

}
#product_big_aboutus{
    background:linear-gradient( rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.26) ), url(assets/coll.jpg);
    background-size:cover;
    background-position: center center; 
    grid-column: span 2;
    grid-row: span 4;
}
.midboy{
    position: relative;
    display: flex;
    flex-direction: column;
    background:linear-gradient( rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.26) ), url(./assets/bg5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    background-color: lightblue;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
}
#t1{
font-size: 3rem;
margin: 0;
}
#t2{
    font-size: 1.9rem;
    margin: 0;
}

.email{
    padding-left: 1rem;
    padding-right: 1rem;
    height: 45px;
    width: 100%;
    outline: solid 1px  whitesmoke;
    font-size: 1rem;
    background-color: whitesmoke;
    border: solid whitesmoke 2px;
    color: #1c1c1c;
        padding-right: 150px;

    border-radius: 80px;
}
.email::placeholder {
    color: rgb(107, 107, 107);
}

#mail_btn{
    background-color: #1c1c1c;
    color: whitesmoke;
    font-weight: 500;
    font-size: 1rem;
    height: 50px;    
    position: absolute;
}
.mail_container{
    display: flex;
    width: 400px;
    justify-content: right;
    align-items: center;
}
.newsletter{
    text-align: center;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.title{
font-size: 1.4rem;
font-weight: 600;
margin-bottom: 5px;
}
#footer{
    padding-top:20px ;    
    padding-bottom:20px ;

    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background:lightgray;
    color: #424242;
    font-size: large;
}
.footer-cat{
    font-size: 1.2rem;
    height: 20vh;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer-cats{
    width: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;  
}
.app_icons{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 30px;
    gap: 20px;
    align-self:center;
}
.app_icons img{
    align-self:center;
width: 30px;
}
.find_us{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#footer-logo{
    height: 50px;
    background: url(./assets/tujargo\ 1.png);
    background-repeat: no-repeat;
    background-size:100%;
    margin-left: 0;
    padding: 0;
    margin: 0;
}
.product_name{
    padding-left: 15px;
    padding-right: 15px;
}
.product_name1{
    box-shadow: rgba(0, 0, 0, 0.507) 0px 5px 15px -2px;
    color: #1c1c1c;
    background-color: whitesmoke;
    padding: 12px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1.1rem;
}
.cat_name{
    font-size: 1.3rem;
    padding-left: 30px;
    padding-right: 30px;
}
.cirlce_product{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.507) 0px 5px 15px -2px;
    background-image: url(./assets/heart\ b.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.cirlces_product{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}
.c-item {
    height: 92vh;
    width: 100%;
  }
  
  .c-img {
    border-radius: 0px 0px 30px 30px;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }
  .over_carousel{
    z-index: 1;
    position: absolute;
    justify-content: center;
    align-items: center;
  }


  @media (max-width: 480px) { 
    .midboy{
        border-radius:  15px;
    }
      /*phone  */
      ::-webkit-scrollbar {
        width: 5px;
        height: 0px;
      }
    .circles_and_search{
            margin-right: 20px
        }
        .circle{
            width: 30px;
            height: 30px;
        }
        .logo{
            width:65px;
            height: 65px;
        }
        .width_logo{
            margin-left: 20px;
        }
      .story{
        font-size: 2.9vw;
      }
      #t2{
        font-size: 1.6rem;
      }
 
      .newsletter{
gap: 18px;
      }
      html { font-size: 0.6rem }

      .menuItems{
          display: none;
      }
      .padding_body{
          margin:10px;
      }
     #search[type="text"] {
       display: none; 
     }
     #search{
      opacity: 1; 
    }
    #t1{
      font-size:2.5rem ;
    }
  
     .circles_and_search{
  align-items: right;
  justify-content: end;
     }
     .topcat-container{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 10px;
     }
     .topcat-container .product{
      border-radius: 15px;
     }
     .mostpopItem{
      min-width:270px;
     
  }
     /*************************************************/
     .aboutus-container{
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
      gap: 10px;
     }
     #p2_aboutus{
      grid-row: span 2;
     }
  
  #p3_aboutus{
      grid-row: span 6;
  }
  #product_big_aboutus{
      grid-row: span 2;
  }
  #p5about{
      grid-row: span 2;
  }
  #p4_aboutus{
      grid-row: span 2;
  }
  .product_ourstory{
    font-size: 2rem;
      border-radius: 15px;
  }
  #mail_btn{
      height: 42px;
  min-width: 85px;
  }
  .email{
      width: 75px;
      height: 38px;
  }
  .mail_container{
  width: 240px;
  }
  .rights{
    display: none;
}
.footer-cat{
    display: none;
}
.mostpop-container{
    gap: 10px;
}
.product{
    border-radius: 15px  !important;
}
.menu_back{
    margin-left: 20px;
}
.menu_back_hidden{
    opacity: 0;
    margin-right: 20px;
}
.appbar{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.cats{
    margin-top: 75px;
    gap: 10px;
}
.cats div{
    border-radius: 10px;
    gap: 2px;
}
#catM{
    align-items: start;
}
  }


      /*tablet  */
@media (min-width:481px) and (max-width: 1200px) {
    .midboy{
        border-radius:  15px;
    }
    .mostpop-container{
        gap: 10px;
    }
    .product{
        border-radius: 15px  !important;
    }
    .menu_back{
        margin-left: 20px;
    }
    .menu_back_hidden{
        opacity: 0;
        margin-right: 20px;
    }
    .appbar{
        justify-content: space-between;
        display: flex;
        align-items: center;
    }
    .cats{
        margin-top: 75px;

        gap: 10px;
    }
    .cats div{
        border-radius: 10px;
        gap: 2px;
    }
    #catM{
        align-items: start;
    }
        .circles_and_search{
            margin-right: 20px
        }
        .circle{
            width: 30px;
            height: 30px;
        }
        .logo{
            width:65px;
            height: 65px;
        }
       
     
        .width_logo{
            margin-left: 20px;
        }
        
        .rights{
            display: none;
        }
        .footer-cat{
            display: none;
        }
        .story{
            font-size:1.2rem;
          }
          #t2{
font-size: 1.6rem;          }
     
          .newsletter{
    gap: 18px;
          }
    html { font-size: 0.7rem }

    .menuItems{
        display: none;
    }
    .padding_body{
        margin:10px;
    }
   #search[type="text"] {
     display: none; 
   }
   #search{
    opacity: 1; 
  }
  #t1{
    font-size:2.5rem;
  }

   .circles_and_search{
align-items: right;
justify-content: end;
   }
   .topcat-container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
   }
   .topcat-container .product{
    border-radius: 15px;
   }
   .mostpopItem{
    min-width:270px;
   
}
   /*************************************************/
   .aboutus-container{
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr;
    gap: 10px;
   }
   #p2_aboutus{
    grid-row: span 2;
   }

#p3_aboutus{
    grid-row: span 6;
}
#product_big_aboutus{
    grid-row: span 2;
}
#p5about{
    grid-row: span 2;
}
#p4_aboutus{
    grid-row: span 2;
}
.product_ourstory{
    border-radius: 15px;
}
#mail_btn{
    height: 42px;
min-width: 110px;
}
.email{
    width: 100px;
    height: 38px;
}
.mail_container{
width: 260px;
}

 }


    /*Laptop  */
 @media (min-width:1201px) and (max-width: 1600px) { 
    .story{
        font-size:1.2rem;
    }
    .mostpopItem{
    
        min-width:320px;
        max-width: 350px;
    }
    #more{
        display: none;
    }

   #search{
     opacity: 1; 
   }
   .accordion{
    display: none;
   }
   .appbar{
    display: none;
}
#slider{
    display: none;
}
 }


 @media (min-width:1601px){ 
    /*PC  */
    #slider{
        display: none;
    }
    .appbar{
        display: none;
    }
    #more{
        display: none;
    }
    .accordion{
        display: none;
       }
 }
  .accordion{
    --bs-accordion-bg:lightgrey !important;
    --bs-accordion-btn-bg:lightgray !important;
    --bs-accordion-color: #696969 !important; 
    --bs-accordion-border-color:lightgray !important;
    --bs-accordion-active-color: #434343 !important; 
    --bs-accordion-active-bg:lightgray !important;
    --bs-accordion-btn-bg: lightgray !important;
    --bs-accordion-btn-focus-box-shadow: none !important;
    --bs-accordion-active-bg: lightgray !important;
    --bs-accordion-icon-color:  lightgrey !important;
--bs-accordion-button-focus-border-color: solid rgb(80, 80, 80) 2px !important;
--bs-accordion-btn-padding-x:0px !important;
font-size: 1.2rem;

width: 80vw;
  }
  .accordion-button{
    font-size: 1.2rem !important;
  }
  .rights{
    font-size: 1rem;
    padding-top: 10px;
  }

  .more_item{
    font-size: 2.5rem;
    margin-top: 10px;
    width: 100%;
  }
 #more_pg{
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    opacity:0;
        overflow: hidden;
   position: fixed;
    background-color: #1c1c1c;
   width: 100%;
   transition:opacity .3s;

     }
     #more_pg.open{
        display: block;
        opacity: 1;
        height: auto;
        overflow: scroll;
        transition:opacity .3s;
     }
     #more_pg.close{
        display: block;
        opacity: 0;
        height: auto;
        overflow: scroll;
        transition:opacity .3s;
     }
     .more_items{
        background-color: red;
        margin-top: 200px;
        margin-left: 200px;
     }
     .bigcontmore{
        margin-top: 10px ;
        margin-left: 20px;
     }
     .smallcontmore{
        margin-top: 15px;
        margin-left: 15px;
     }
     .menuItems_mobile{
        color: black;
        top: 110px;
        z-index: 12;
        position: fixed;
        width: 100%;
        display: flex;
        gap: 10px;
      
        font-size: 1.8rem !important;
        overflow-x: scroll;
     }
     .menuItems_mobile div{
        height: fit-content;
padding-left: 10px ;
padding-right: 10px ;
padding-bottom: 10px ;
padding-top: 10px ;
background-color: transparent;
     }
     #slider{
        transition: 0.6s;
        top: 80px;
        left: 0;
        right: 0;
        position: fixed;
        z-index: 9;

     }




     /*
       backdrop-filter:blur( 0px);
    transition: 0.6s;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    z-index: 6;
    position: fixed;
    justify-content: space-between;
    height: 75px;
    align-items: center;
    display: flex;
    top: 30px;
     
     */
     .scrollable-tabs-container {
        max-width: 700px;
        margin: 16px auto;
        border-radius: 4px;
        overflow: hidden;
        position: relative;
        transition: 0.6s;
      }
      
      .scrollable-tabs-container svg {
        width: 24px;
        height: 24px;
        padding: 8px;
        cursor: pointer;
        color: #fff;
        border-radius: 50%;
        pointer-events: auto;
      }
      
      .scrollable-tabs-container ul {
        display: flex;
        gap: 16px;
        padding: 12px 24px;
        margin: 0;
        list-style: none;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        scroll-behavior: smooth;
      }
      
      .scrollable-tabs-container ul.dragging a {
        pointer-events: none;
      }
      
      .scrollable-tabs-container ul.dragging {
        scroll-behavior: auto;
      }
      
      .scrollable-tabs-container ul::-webkit-scrollbar {
        display: none;
      }
      
      .scrollable-tabs-container a {
        color: rgb(44, 44, 44);
        font-weight: 600;
        text-decoration: none;
        background: whitesmoke;
        padding: 4px 24px;
        display: inline-block;
        border-radius: 4px;
        user-select: none;
        white-space: nowrap;
      }
      
      .scrollable-tabs-container a.active {
        background: #fff;
        color: #eb1c1c;
      }
      .scrollable-tabs-container .right-arrow,
      .scrollable-tabs-container .left-arrow {
        position: absolute;
        height: 100%;
        width: 100px;
        top: 0;
        display: none;
        align-items: center;
        padding: 0 10px;
        pointer-events: none;
      }
      
      .scrollable-tabs-container .right-arrow.active,
      .scrollable-tabs-container .left-arrow.active {
        display: flex;
      }
      
      .scrollable-tabs-container .right-arrow {
        right: 0;
        background: linear-gradient(to left, #00000079 20%, transparent);
        justify-content: flex-end;
      }
      
      .scrollable-tabs-container .left-arrow {
        background: linear-gradient(to right, #000 0%, transparent);
      }
      
      .scrollable-tabs-container svg:hover {
        background: #333;
      }
.appbar{
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.651);
}