/* PHONE */
@media (max-width: 960px) { 
    .c-item {
        height: 350px !important ;
        width:100%;
      }

    .bottomSheetShadow{
display: none;
height: 100vh !important;
opacity: 0;
transition: 0.4s;
    }

    .bottomSheetShadow.open{
        opacity: 100 !important;
    }
    .bottomSheetShadow.begin{
        display: flex !important;
    }
    .bottomSheet{
        display: flex !important;
        height: 0 !important;
        transition: 0.4s;
    }
    .bottomSheet.open{
        height: 80vh !important;

    }
    #footer{
       margin-bottom: 50px;
       border-radius:10px 10px 0px 0px ;
    }
 
     
 .midMan{
    margin-top: 55px !important;
 }
 #img{
    border-radius:0 !important;
 }
    #image{
        border-radius: 0px 0px 10px 10px !important;
        background-size: contain !important; 
        height:350px !important;
        width: 100% !important;
    }
    .margin_r{
margin-right: 10px;
    }
    .mayLikeText{
        margin-left: 10px;
    }
    .mzero{
        margin-bottom: 5px;
        margin-top: 10px;
    }
    .price{
        font-size: 1.6rem !important;
    }

    .category{
        color: rgb(95, 95, 95) !important;
    }
    .m_left{
        font-size: 1.2rem;
        margin-left: 10px !important;
    }
    .mayLikeCont div:nth-of-type(1){
        margin-left: 10px;
    }
    .mayLikeCont > div:last-of-type { 
        margin-right: 10px;
    }
    .mayLike{
width: 100% !important;
    }
    .bigman{
        flex-direction: column;
        padding-left:0px !important;
        padding-right: 0px !important;
    }
    .pcInfo{
        display: none !important;
    }
    .stuffs{

    }
    .midMan{
        width: 100%;
        height: auto;
    }
    #buttonsContainer{
        position: fixed;
 
        bottom: 0;
        left: 0;
        right: 0;
        width: 100% ;
        z-index: 10;
    }
#sizeSelect div:nth-of-type(1){
    margin-bottom: 50px;
    margin-left: 10px;
}
#sizeSelect div:last-of-type{
    margin-right: 10px;
    
}
#colorSelect div:last-of-type{
    margin-right: 10px;
    
}
#colorSelect div:nth-of-type(1){
    margin-left: 10px;
}
    #sizeSelect div{
        flex: none;
        width: max-content !important;
        min-width: 20px;
        padding-left: 5px ;
        padding-right: 5px ;
        height: 25px !important;
    }

    #colorSelect div{
        width: 50px !important;
        height: 50px !important;
        flex: none !important;
    }
  
    .infoCont{
        margin-top: 0px !important;
        margin-left: 0px !important; 
        min-height: min-content !important;
        width: 100% !important;
        height: auto;
        align-items: start !important;
        
    }
    #colorSelect{
        display: flex !important;
        width: 100% !important;
        overflow-x: scroll !important;
         
    }
#sizeSelect{
    display: flex !important;
    width: 100% !important;
    overflow-x: scroll !important;
}
    #buttonsCont{
        width: 100% !important;
        justify-content: center !important;
        margin-bottom:0 !important;
        margin-top:0 !important;
        margin: 0 !important;
    }
    #cart_button{
        height: 100%;
width: 85% !important;
border-radius: 0 !important;
    }
    #thumbnails{
display: none !important;
    }
    #img{
        background-color: whitesmoke !important;
    }
    #heart{
        border-radius: 0 !important;
        background-color: whitesmoke;
        height: 100%;
        background-size: 30px !important;
        width: 15% !important;
    }

    .stuff{
        width: 100% !important;
    }
    .width_logo{
        width: 80px !important;
    }
    .mobileInfo{
display: block !important;
    }
    .c-img{
        object-fit: contain !important;
      }

}
/* TABLET */
@media (min-width:481px) and (max-width: 960px)  {
    #img{
        background-color: whitesmoke !important;
    }
    #image{
        height: 73vw !important;
    }
    .c-item{
        height: 73vw !important;

    }
    .c-img{
        object-fit: contain !important;
      }
}
@media (min-width:961px) and (max-width: 1200px)  {
    #img{
       background-image: url(./assets/img/img1.webp) ;
       object-fit: contain !important;
       background-size: contain;
       background-repeat: no-repeat;
       background-position: center !important;
    }
    .mobileInfo{
        display: none !important;;
    }
    .stuffs{
        display: block !important;
        margin-top: 15px !important;
    }
    .stuff{
        height: 81px !important;
        /* 86 */
    }
.buttonrev{
    width: 140px !important;
}
.margin-zero{
    margin-top: 10px;
    margin-bottom: 5px;
}

.bottomSheet{
right: 0 !important;
    overflow: hidden;
    width: 0vw !important;
    height: 100vh !important;
}    
.bottomSheet.open{
    width: 60vw !important;
    height: 100vh !important;
}
.bottomSheetShadow{
    display: none;
    height: 100vh !important;
    opacity: 0;
    transition: 0.4s;
        }
    
        .bottomSheetShadow.open{
            opacity: 100 !important;
        }
        .bottomSheetShadow.begin{
            display: flex !important;
        }
        .c-item {
            height: 600px  !important;
            width: 500px;
          }
       .bigman{
        padding-left: 0 !important;
        padding-right: 0 !important;
       }
     #thumbnails{
        width: 70px !important;
     }
     .carousel{
        display: none !important;
    }
     #thumbnails div{
        width: 50px !important;
        height: 50px !important;
     }
     .stuff{
        width: auto !important;
     }
     .infoCont{
        margin-left: 50px !important;
        width: 375px !important;
     }
     #image{
        background-image:none !important;
        width: 460px !important;
     }
     .c-img{
        object-fit: contain !important;
      }
}  
/* LAPTOP */

/* PC */
@media (min-width:1201px){ 
    #image{
        background-image:none !important;
    }
    #img{
        background-image: url(./assets/img/img1.webp) ;
        object-fit: contain !important;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center !important;
     }
    .carousel{
        display: none !important;
    }
    .mobileInfo{
        display: none !important;;
    }
    .stuffs{
        display: block !important;
        margin-top: 15px !important;
    }
    .stuff{
        height: 81px !important;
        /* 86 */
    }
.buttonrev{
    width: 140px !important;
}
.margin-zero{
    margin-top: 10px;
    margin-bottom: 5px;
}

.bottomSheet{

right: 0 !important;
    overflow: hidden;
    width: 0vw !important;
    height: 100vh !important;
}    
.bottomSheet.open{
    border-radius: 10px 0px 0px 10px !important;
    width: 50vw !important;
    height: 100vh !important;
}
.bottomSheetShadow{
    display: none;
    height: 100vh !important;
    opacity: 0;
    transition: 0.4s;
        }
    
        .bottomSheetShadow.open{
            opacity: 100 !important;
        }
        .bottomSheetShadow.begin{
            display: flex !important;
        }
        .c-item {
            height: 600px  !important;
            width: 500px;
          }
          .c-img{
            object-fit: contain !important;
          }
}

/*  */
  .shadowOverlay{
    display: none !important;
    opacity: 0;
    transition: 0.4s;
        }

  .shadowOverlay.open{
            opacity: 100 !important;
     }
  .shadowOverlay.begin{
            display: flex !important;
 }
  .bottomSheet{
    flex-direction: column !important;
    display: none;
     height: 80vh;
      position: fixed;
       bottom: 0;
        z-index: 12;
         width: 100vw;
          background-color: rgb(255, 255, 255);
           border-radius: 10px 10px 0px 0px;
            display: flex !important;
            height: 0vh ;
            /* comeback */
            transition: 0.4s;
        }
  .bottomSheet.open{
            height: 80vh ;
    
        }
   
        .c-img {
            border-radius: 0px 0px 0px 0px !important;
            height: 100%;
            object-fit: contain;
          }
          #img{
            border-radius: 10px;
          }
  